@media (max-width: 768px) {
  .blocks-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.blocks-table td.hash-cell {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blocks-table {
  width: 100%;
  border-collapse: collapse;
}

.blocks-table th,
.blocks-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.blocks-table th {
  text-align: left;
  margin-bottom: 5px;
  color: rgb(168, 164, 164);
}
